@media (min-width: 320px){
    $marginSmall: .5rem;
    .Nota__content{
        width: 90%;
        margin-top: 1rem;
        padding: 1rem 0;
        color: black;
        background-color: white;
        border-radius: 1rem;
        .Nota__title{
            text-align: center;
            margin-bottom: 1rem;
            font-size: 2rem;
        }
        .Nota__subTitle{
            margin: 1.5rem $marginSmall $marginSmall $marginSmall;
            font-size: 1.7rem;
            text-align: justify;
        }
        h3{
            margin: .8rem 0 $marginSmall $marginSmall;
            font-size: 1.5rem;
        }
        h4{
            margin: .6rem 0 $marginSmall $marginSmall;
            font-size: 1.3rem;
        }
        h5{
            font-size: 1.2rem;
            margin: .3rem 0 $marginSmall $marginSmall;
            font-style: italic;
        }
        .Nota__desc, p{
            font-size: 1rem;
            margin: 0 0 $marginSmall $marginSmall;
        }
        .Nota__list{
            margin-left: 2rem;
            li{
                list-style:disc;
            }
        }
        .Nota__listNumber{
            margin-left: 2rem;
            li{
                list-style: decimal;
            }
        }
        li{
            margin-bottom: .2rem;
            b{
                
            }
        }
    }
}